extends /components/layout

block head
  +head("Knuckles")

block content
  +header("knuckles")
  section.section
    .container.maincard
      p.title Knuckles
      img.half(src="/img/knuckles.png")
      p.title.is-5 OVERVIEW
      .columns
          .column
            p Knuckles digs out of development hell and into Project+! The iconic red echidna has been polished and refined to fit in nicely with the existing cast. While technically based on Sonic, Knuckles’s moveset is almost entirely unique, with different normals, specials, and character properties to make him feel completely different than his blue, spiky rival.
          .column
            img.magic(src="/img/knuckles2.png")
      .columns.col-flip
          .column
              p.title.is-5 ROUGHER THAN THE REST OF ‘EM
              p Originally designed as a stronger version of Sonic, Knuckles’s moveset obviously has some heavy hitters. His forward aerial is similar to Mario’s, having both a strong outward sending hitbox as well as a meteor on the descent. His down and up tilts are both incredible combo starters that lead into his fast and powerful aerials. Up Smash is a destructive punch upwards that can shark platforms and set opponents ablaze. Knuckles retains Spin Dash, but adds in different properties to make his version unique.
          .column
            img.magic(src="/img/knuckles3.png")
      .columns
          .column
              p.title.is-5 DRILL CLAW
              p Knuckles gains an entirely new move in the form of his Neutral Special, Drill Claw! Pressing B while grounded will make Knuckles dig into the ground, with a strong punch out of it following soon after. Knuckles also has the option to traverse underground for a short time if B is held. Using the move in the air will make Knuckles dive towards the ground, taking any opponents he encounters with him on the way. Using the move to dig through a platform will take any opponents he hits with him, putting them into knockdown. Beware of Drill Claw’s powerful ending punch and its aerial edgeguarding capability!
          .column
            img.magic(src="/img/knuckles4.png")
      
      .columns.col-flip
          .column
              p.title.is-5 GLIDE
              p Knuckles retains his classic glide from the Sonic the Hedgehog series! In Project+, it becomes a very versatile move, used for both recovery and offense. Once side special is pressed in the air, Knuckles will glide for a considerable amount of time before exiting his glide state, with the ability to turn twice before being forced to continue in his current direction. Knuckles can also cancel the glide early by pressing B, retaining momentum and allowing him to use aerials quickly. Gliding into a wall will allow Knuckles to climb it for up to 3 seconds, enhancing his recovery game. Using Side-Special on the ground (or pressing Z after beginning to glide in the air) has Knuckles use his Dive Punch, a powerful spike and kill move if connected properly!
          .column
            img.magic(src="/img/knuckles6.png")
    style.
        .half {
            width: 50%;
            min-width: 300px;
            margin: 0 auto;
            display: block;
        }
        .magic{
            width:100%;
            max-width:400px;
            min-width:355px;
        }
        .col-flip{
            flex-direction:row-reverse;
        }
        .title.is-5{
            margin-top:1.5rem;
        }
        .column{
            flex-basis:auto!important;
        }