.tile {
  margin-bottom: 0 !important;
}

.main {
  display: flex;
  gap: 1rem;

  @media (max-width: 650px) {
    flex-flow: column;
  }
}

.nav {
  width: 200px;
  position: sticky;
  align-self: start;
  top: 30px;

  @media (max-width: 650px) {
    width: initial;
  }
}