-
  const data = [
    {
      title: "Bowser",
      sections: [
        {
          title: "Attributes",
          entries: [
            ["nerf", "Weight: 118 > 113"],
            ["buff", "Jump Startup Time: 6 > 5"],
            ["buff", "Empty Landing Time: 6 > 5"]
          ]
        },
        {
          title: "Jab 1 & 2",
          entries: [
            ["buff", "Jab 1 adjusted animation so that the first frame of hitboxes hits in front of him"],
            ["buff", "Jab 2 startup 8 > 6"]
          ]
        },
        {
          title: "Up Tilt",
          entries: [
            ["neutral", "Added 3rd hitbox to sweet spot to match sour spot. Has the KB stats of the sour spot: but the angle of the sweet spot."],
            ["neutral", "Up Tilt interpolation glitch has been fixed"],
            []
          ]
        }
      ]
    }
  ]