@use "./node_modules/bulma/sass/utilities/initial-variables.scss" as iv;
@use "./node_modules/bulma/sass/utilities/mixins.scss";

// tbh this CSS code is kind of garbage. feel free to rewrite.

.css_main {
  display: none;
  flex-direction: column;
  align-items: center;
  padding: 2em 0;
  overflow-x: hidden;
  overflow-y: clip;

  --width: 80px;

  @include mixins.mobile {
    --width: min(18vw, 80px);
  }

  @include mixins.tablet-only {
    --width: 80px !important;
  }

  @media screen and (min-width: iv.$desktop) and (max-width: iv.$fullhd) {
    --width: 65px !important;
  }
}

.css_big {
  @include mixins.desktop {
    display: flex;
  }
}

.css_medium {
  @include mixins.tablet-only {
    display: flex;
  }
}

.css_small {
  @include mixins.mobile {
    display: flex;
  }
}

.row {
  display: flex;
  --gap: calc(var(--width) * 0.5);
  gap: var(--gap);

  &:not(:first-child) {
    margin-top: -1.2em;
  }
}

.button {
  width: var(--width) !important;
  border-radius: .5em;
  height: var(--width) !important;
  border: calc(var(--width) * 0.05) solid hsla(210, 90%, 50%, 40%);
  background-color: hsla(210, 100%, 20%, 40%);
  transform: rotate(-45deg);

  > img {
    width: 100%;
  }

  &:hover {
    border-radius: 0;
    z-index: 10;

    animation: flashing-border .7s alternate infinite, scale-up .2s ease-in-out;

    @keyframes flashing-border {
      0% {
        border-color: red;
      }
      100% {
        border-color: rgb(228, 129, 129);
      }
    }

    @keyframes scale-up {
      0% {
        transform: rotate(-45deg) scale(1);
      }
      10% {
        transform: rotate(-45deg) scale(1.2);
      }
      100% {
        transform: rotate(-45deg) scale(1);
      }
    }
  }
}