.popoverContent {
	display: none;
	position: absolute;
	background: hsl(0, 0%, 10%);
	padding: 0.3rem 0.7rem;
	border-radius: 0.5rem;
	bottom: 100%;
	left: 50%;
	width: 200px;
	transform: translateX(-50%);
}

.popover {
	&:hover {
		.popoverContent {
			display: block;
		}
	}
}
