/*
 * most modifications in this file are to drastically
 * reduce the generated CSS's file size, but
 * also for some customization.
 */

// up here because of priority so that we don't need !important
a:not(.navbar-item):not(.navbar-link):not(.button) {
  text-decoration: revert; // add underline back, a11y
}

@import "~bulmaswatch/cyborg/variables"; // swatch styles
@import "~bulma/sass/utilities/_all.sass"; // mandatory

$colors: mergeColorMaps(
  (
    "white": ($white, $black),
    "link": ($link, $link-invert),
    "info": ($info, $info-invert),
    "success": ($success, $success-invert),
  ),
  $custom-colors
);

$colorsWithoutDark: $colors;

$sizes: $size-3, $size-4, $size-6;

$shades: mergeColorMaps((), $custom-shades);

$widescreen-enabled: false;
$desktop-enabled: false;
$tablet-enabled: false;

$code: hsl(0, 0%, 90%);
$code-background: hsl(0,0%,15%);

code {
  border-radius: 0.3rem;
}

// TODO card is not even included in the CSS... only for tournament cards it seems

// $card-background-color: hsla(0, 0%, 10%, 50%);
// $card-shadow: 0 .2em .6em black;

// .card {
//   border: .4em solid hsl(0, 0%, 10%);
// }

// TODO messages are also not included...yet

// .message-header a {
//   text-decoration: none !important;
  
//   &:hover {
//     color: #5092fc !important;
//     text-decoration: underline !important;
//   }
// }

// make the links a bit lighter to be more easily readable
$link: #5092fc;
$link-hover: #407cdd;

// Actually used
@import "~bulma/sass/base/generic.sass"; // font and other stuff
@import "~bulma/sass/base/minireset.sass"; // fixes default styles

$navbar-colors: [];

@import "~bulma/sass/components/navbar.sass";

// this is more economic for the generated CSS size than
// expanding $button-colors

$additionalButtonColors: (
  "discord": #2520b4,
  "twitch": #6441a5,
  // "smashgg": #CD323C // TODO unused at the moment
);

.button {
  transition: background-color .1s ease-in-out;

  @each $name, $color in $additionalButtonColors {
    &.is-#{$name} {
      color: white !important;
      border-color: transparent !important;
      background-color: $color;
      &:hover {
        background-color: bulmaDarken($color, 2.5%)
      }
    }
  }
}

$scheme-main: black; // fixes button disabled state

@import "~bulma/sass/elements/button.sass";
@import "~bulma/sass/base/animations.sass"; // .loader
@import "~bulma/sass/elements/title.sass";
@import "~bulma/sass/elements/container.sass";

// [upstream] https://github.com/jgthms/bulma/issues/3506

@import "~bulma/sass/helpers/typography.sass"; // <strong>
@import "~bulma/sass/helpers/flexbox.sass"; // .is-justify-content...

// add dark for color classes "has-text-dark" temporarily
$colors: mergeColorMaps(
  ("dark": ($dark, $dark-invert)),
  $colors
);

@import "~bulma/sass/helpers/color.sass"; // has-text...

// TODO check if this actually works as intended
$colors: $colorsWithoutDark; // turn back to reduced color set

$spacing-shortcuts: ("margin": "m");
// $spacing-horizontal: null; // [upstream] https://github.com/jgthms/bulma/issues/3507
// $spacing-vertical: null;
$spacing-values: (
  "0": 0,
  "1": 0.25rem,
  "2": 0.5rem,
  "3": 0.75rem,
  "4": 1rem,
);

@import "~bulma/sass/helpers/spacing.sass"; // .mt-5 etc.
@import "~bulma/sass/helpers/visibility.sass"; // .is-flex
@import "~bulma/sass/elements/other.sass"; // modal .delete button to close

// Currently for specific sites
@import "~bulma/sass/elements/content.sass"; // /faq
@import "~bulma/sass/components/modal.sass"; // /find-communities
@import "~bulma/sass/elements/box.sass"; // /index

$popover-background-color: #222;

@import "~bulma-popover"; // popovers / tooltips

$colors: ();

@import "~bulmaswatch/cyborg/overrides"; // fixes some swatch styles afterwards (by design)