.navbar {
  background: linear-gradient(to bottom, #35dcc5, #34d171),
              url(/images/background.jfif) !important; // Overwrite is-dark background color
  background-blend-mode: color;
  border-radius: 0.3rem;

  * {
    transition: all 0.1s ease;
  }
}
  
.navitem:hover:not(.navitemactive) { // :not() is crucial due to specifity issues with !important
  background-color: hsla(0,0%,0%,0.4) !important;
}

.navitemactive {
  background-color: hsla(0,0%,0%,0.7) !important;
}

.discordbutton {
  background-color: #7289DA;
  
  &:hover {
    background-color: #455bac;
  }
}