.navbar {
  * {
    transition: background-color 0.1s ease;
  }

  img {
    max-height: inherit;
  }

  @media screen and (min-width: 1024px) {
    border-radius: 0.3rem;
    padding: 0 14px;
    margin: 2rem 0;
  }

  > * {
    margin: 0;
  }
}

.buttoncontainer {
  @media screen and (min-width: 500px) { // arbitrary value i chose which looks good, not an actual bulma breakpoint
    flex-wrap: nowrap;
  }
}

.expandbutton {
  @media screen and (max-width: 1023px) {
    width: 100%;
  }
}

.navitem:hover:not(.navitemactive) { // :not() is crucial due to specifity issues with !important
  background-color: hsla(0,0%,0%,0.4) !important;
}

.navitemactive {
  background-color: hsla(0,0%,0%,0.7) !important;
}

.discordbutton {
  background-color: #7289DA;
  
  &:hover {
    background-color: #455bac;
  }
}

@media screen and (max-width: 1023px) {
  .navbar-menu {
    background-color: hsla(0, 0%, 0%, 0.7) !important;
  }
}