@import "bulma/sass/utilities/_all.sass";

.navbar {
  * {
    transition: background-color 0.1s ease;
  }

  img {
    max-height: inherit !important;
  }

  @include from ($desktop) {
    border-radius: 0.3rem;
    padding: 0 14px;
    margin: 2rem 0;
  }

  > * {
    margin: 0;
  }
}

.buttoncontainer {
  @include from (500px) { // arbitrary value i chose which looks good, not an actual bulma breakpoint
    flex-wrap: nowrap !important;
  }
  
  // shorten download and discord button so that they don't break out of the page header
  @media screen and (min-width: $desktop) and (max-width: $fullhd) {
    button, a {
      > svg {
        margin-right: 0 !important;
      }
  
      > span {
        display: none;
      }
    }
  }
}

.expandbutton {
  @include touch {
    width: 100%;
  }
}

.navitem:hover:not(.navitemactive) { // :not() is crucial due to specifity issues with !important
  background-color: hsla(0,0%,0%,0.4) !important;
}

.navitemactive {
  background-color: hsla(0,0%,0%,0.7) !important;
}

@include touch {
  .navbar-menu {
    background-color: hsla(0, 0%, 0%, 0.7) !important;
  }
}