mixin head(title = "Project+ Website")
  meta(charset="UTF-8")
  meta(name="viewport" content="width=device-width, initial-scale=1")
  meta(name="keywords" content="Smash, Project+, Project M, PM, P+, Smash Mod, Brawl Mod, Update")
  meta(name="description" content="Project+ is a balance patch for Project M, a popular Super Smash Bros. Brawl mod")
  meta(name="author" content="waffeln")

  meta(name="theme-color" content="#34d171") 
  // theme color for mobile phone tabs

  meta(name="og:image" content="/img/favicon.png")
  // preview image for embeds in some services

  link(rel="stylesheet" href="/css/bulma.min.css")
  link(rel="stylesheet" href="/css/main.css")
  link(rel="shortcut icon" type="image/png" href="/img/favicon.png")

  script(src="/js/main.js")

  title=title