html {
  height: 100%;
  display: flex;
  flex-direction: column;
}

body {
  flex: 1;
}

body, .subtitle {
  color: hsla(0,0%,100%,0.9);
}

h1, h2, h3, h4, h5, h6,
.title {
  color: white;
}

a {
  color: #75aaff;
  
  &:hover {
    color: #407cdd;
  }
}

code {
  background: hsl(0,0%,15%);
  color: hsl(0,0%,90%);
  border-radius: 0.3rem;
}

#navigation {
  background: linear-gradient(to bottom, #35dcc5, #34d171),
              url(/img/background.jfif);
  background-blend-mode: color;
  border-radius: 0.3rem;
  overflow: hidden; // potentially problematic
}

.container > .navbar {
  & .navbar-menu, & .navbar-brand {
    margin-left: 0;
    margin-right: 0;
  }
}

.navbar-item.active {
  background: hsla(0,0%,0%,0.5);
}

section.section {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.group {
  margin-bottom: 1rem;

  > * {
    margin-right: 1rem;
  }
}

// changes

.buff {
  color: rgb(60, 255, 0);
}

.nerf {
  color: rgb(255, 70, 24);
}

.neutral {
  color: orange;
}

.bold {
  font-weight: bold;
}