extends /components/layout

block head
  +head("Download Project+")

block content
  +header("download")
  section.section
    .container.maincard
      h1.title Download v2.15
      p.subtitle Wii Lite only changes music compression to fit on a 2 GB SD card. 
      p.subtitle The Cosmetics Pack includes files for custom build creation, such as stage imagery templates and full resolution HD textures.
      .group
        a.button.is-link(href="https://mega.nz/file/SAtg3KKC#qUv38CjoYYrNV4nhhQeHVkzlKoAc-zsSwT5uHGbRT2M") Offline / Wii
        a.button.is-link(href="https://mega.nz/file/CRsgEIKI#JT1c3XlY1BqpRIRARl96HoTXagxi9l4g2-2I2iMUYyk") Wii Lite (For 2 GB Cards)
        a.button.is-link(href="https://mega.nz/file/TR1nRCiL#J_410t7RjY3Q9EH2LrSu9OrK0VKEOYDsDzpp2gTI2c4") Cosmetics Pack
      .group
        a.button.is-link(href="https://mega.nz/file/fcs0ASIC#k1YRxmMVfReHngFCuke5aKRDA1NZ3Nu0TfBmZsXrSTA") Dolphin (Windows)
        a.button.is-link(href="https://www.ProjectPlusGame.com") Dolphin (Mac)
        a.button.is-link(href="https://github.com/Birdthulu/FPM-Installer") Dolphin (Linux Installer)
      .group
        a.button.is-link(href="http://www.mediafire.com/file/40npio7n17atuzc/Project%252B_v2.15_%2528Wii%2529.zip/file") Wii Mirror
        a.button.is-link(href="http://www.mediafire.com/file/m63jyslavge51au/Project%252B_v2.15_%2528Wii_Lite%2529.zip/file") Wii Lite Mirror
        a.button.is-link(href="http://www.mediafire.com/file/yf5urfhkvtcohmt/Project%252B_v2.15_Netplay_%2528Windows%2529.zip/file") Dolphin (Windows) Mirror
  section.section
    .container.maincard
      .columns
        .container.center-text
            h1.title Need help installing Project+? Project M Nexus's in-depth guide has got you covered!
            iframe(src="https://www.youtube.com/embed/4XynDH-eVDE")
        .column
        .column(style="display: flex; flex-direction: row-reverse")
            style.
                .magic {
                  opacity: 0.7;
                  transition: all 0.3s ease;
                
                  max-height: 400px;
                }
                
                @media screen and (max-width: 768px) {
                  .magic {
                    max-height: 300px;
                  }
                }
                
                .magic:hover {
                  opacity: 1.0;
                }
                .center-text{
                    text-align:center;
                    width:100%;
                }
                .columns{
                    flex-wrap:wrap;
                }
                iframe{
                    width: 560px;
                    height: 316px;
                    margin-bottom: 26px;
                }

            
