extends /components/layout

block head
  +head("Download Project+")

block content
  +header("download")
  section.section
    .container.maincard
      h1.title Download v2.0
      p.subtitle   
      .group
        a.button.is-link(href="http://www.mediafire.com/file/awy7pvnj3tqmhnf/Project%252B_v2.0_Wii.zip/file") Offline / Wii
        a.button.is-link(href="http://www.mediafire.com/file/hyvv92l9xhq34w9/Project%252B_v2.0_Wii_Lite.zip/file") Wii Lite (For 2 GB Cards)
      .group
        a.button.is-link(href="http://www.mediafire.com/file/yk89i2htqmx4oc6/Project%252B_v2.0_Netplay.zip/file") Netplay (Windows)
        a.button.is-link(href="http://www.mediafire.com/file/frj23m9bcwwbpoa/Project%252B_v2.0_Netplay_Mac.zip/file") Netplay (Mac)
        a.button.is-link(href="http://www.mediafire.com/file/g8dzzmrle6zolq3/Project%252B_v2.0_Netplay_Linux.zip/file") Netplay (Linux)
      .group
        a.button.is-link(href="http://www.mediafire.com/file/lnog87u1p0wyiii/Project%252B_v2.0_HD_Textures.zip/file") Dolphin HD Textures
        a.button.is-link(href="http://www.mediafire.com/file/qrxn5zoxioo9iz3/Project%252B_Modder%2527s_Pack.zip/file") Modder's Pack
      .group
        a.button.is-link(href="https://mega.nz/#!2d9HBboL!jmpGtUec63jRDYcgskeyoo08uUfn2zCgs6a_B4Qf6f8") Wii Mirror
        a.button.is-link(href="https://mega.nz/#!bU01BbYQ!2rPeer_dvVfZBcO3PnmyKt6aY5ZeyXuzjW7_yZtam74") Netplay Mirror