extends /components/layout

block head
  +head("Download Project+")

block content
  +header("download")
  section.section
    .container.maincard
      h1.title Download v2.15
      p.subtitle Wii Lite only changes music compression to fit on a 2 GB SD card. 
      p.subtitle The Cosmetics Pack includes files for custom build creation, such as stage imagery templates and full resolution HD textures.
      .group
        a.button.is-link(href="https://mega.nz/file/uRsWBSAT#x475pwGsna_Nt6LJ9Zd76fFdLypqnF729_M1YSHERmo") Offline / Wii
        a.button.is-link(href="https://mega.nz/file/Td9CmI5A#rG77LDvL1OwRE0Xw_g7tl1YbaEAzFSa2iw96EfbHXUc") Wii Lite (For 2 GB Cards)
        a.button.is-link(href="https://mega.nz/file/TR1nRCiL#J_410t7RjY3Q9EH2LrSu9OrK0VKEOYDsDzpp2gTI2c4") Cosmetics Pack
      .group
        a.button.is-link(href="https://mega.nz/file/3R9HjDaI#waS8TOqFV7874iHrLs04xlvuLTea8INNz8NkOf5_kC8") Dolphin (Windows)
        a.button.is-link(href="https://mega.nz/file/TUVDCQ7b#xPCP12foPCJhwC8hUocBioUbKIswyHEB2mP_Mo_DKDQ") Dolphin (Mac)
        a.button.is-link(href="https://github.com/Birdthulu/FPM-Installer") Dolphin (Linux Installer)
      .group
        a.button.is-link(href="https://www.mediafire.com/file/291vvxcyb5on5xm/Project+_v2.15_%28Wii%29.zip/file") Wii Mirror
        a.button.is-link(href="https://www.mediafire.com/file/5osl1uham9osnf6/Project+_v2.15_%28Wii_Lite%29.zip/file") Wii Lite Mirror
        a.button.is-link(href="https://www.mediafire.com/file/7yt5o4vci83mid0/Project+_v2.15_Netplay_%28Windows%29.zip/file") Dolphin (Windows) Mirror
  section.section
    .container.maincard
      .columns
        .container.center-text
            h1.title Need help installing Project+? Project M Nexus's in-depth guide has got you covered!
            iframe(src="https://www.youtube.com/embed/4XynDH-eVDE")
        .column
        .column(style="display: flex; flex-direction: row-reverse")
            style.
                .magic {
                  opacity: 0.7;
                  transition: all 0.3s ease;
                
                  max-height: 400px;
                }
                
                @media screen and (max-width: 768px) {
                  .magic {
                    max-height: 300px;
                  }
                }
                
                .magic:hover {
                  opacity: 1.0;
                }
                .center-text{
                    text-align:center;
                    width:100%;
                }
                .columns{
                    flex-wrap:wrap;
                }
                iframe{
                    width: 560px;
                    height: 316px;
                    margin-bottom: 26px;
                }
