extends /components/layout

block head
  +head("Download Project+")

block content
  +header("download")
  section.section
    .container.maincard
      h1.title Download v1.05b
      p.subtitle This is still a beta and changes are not final.
      .group
        a.button.is-link(href="http://www.mediafire.com/file/qwyh246ue9tp7cc/Project%252B_v1.05b_Offline_Hotfix.zip/file") Offline / Wii
        a.button.is-link(href="https://mega.nz/#!rMdwiIyK!vTI7xv98xuAu9AgDZ4efpp1SI98Sw3dtW9meKzJLI4c") Offline / Wii (Mirror)
      .group
        a.button.is-link(href="https://www.mediafire.com/file/fr13cuuhd8vg31m/Project+_v1.05b_Netplay_Hotfix_%5BFM_Edition%5D.zip/file") Dolphin / Netplay
        a.button.is-link(href="https://mega.nz/#!XdVC0abA!ryB799Z09zHr7AAaSTDK6EQ5HwKWBTcnL9RicRQwzEQ") Dolphin / Netplay (Mirror)