extends /components/layout

block head
  +head("Download Project+")

block content
  +header("download")
  section.section
    .container
      h1.title.has-text-white Download
      p.subtitle.has-text-light Download