extends /components/layout

block head
  +head("Download Project+")

block content
  +header("download")
  section.section
    .container.maincard
      h1.title Download v2.1
      p.subtitle Wii Lite only changes compression of music to fit on a 2 GB SD card. 
      p.subtitle The Modder's Pack includes files for custom build creation, such as stage imagery templates and full resolution HD textures.
      .group
        a.button.is-link(href="https://mega.nz/file/fN8UnCgR#8ayC8RslXQfIDfAPy5xMqeXIaOYDXBvo5Iak52G34O8") Offline / Wii
        a.button.is-link(href="https://mega.nz/file/yR8A3SBQ#UZdlNINXtMJZU0B73PhrhXNL-6XRO3gR4ZktHpmU97s") Wii Lite (For 2 GB Cards)
        a.button.is-link(href="https://mega.nz/file/jN9T0CDa#Uvl3CIO5md7mfJP-j25LxcF6ehWIMke2IGZ8SEbQVjE") Modder's Pack
      .group
        a.button.is-link(href="https://mega.nz/file/WNM0wYAZ#7JWr1hmKdTSu9_AagxJkZQGkfIAyCud1eu5i6MF-pq4") Dolphin (Windows)
        a.button.is-link(href="https://mega.nz/file/yUUiyQ6I#cYTYp8R8tQbSWkv5wYTN5nE65kxUKaROUrRW7XoW8Wo") Dolphin (Mac)
        a.button.is-link(href="https://github.com/Birdthulu/Ishiiruka/blob/master/config/Readme.md") Dolphin (Linux Installer)
      .group
