extends /components/layout

block head
  +head("Download Project+")

block content
  +header("download")
  section.section
    .container
      h1.title.has-text-white Download v1.05b
      p.subtitle.has-text-light This is still a beta and changes are not final.
      .group
        a.button.is-link(href="http://www.mediafire.com/file/ccx0uxcvn7wzm5j/v1.b_Offline_Build.zip/file") Offline / Wii
        a.button.is-link(href="https://megaupload.nz/e8vbV4cdn1/v1.b_Offline_Build_zip") Offline / Wii (Mirror)
      .group
        a.button.is-link(href="http://www.mediafire.com/file/eg5tlwgrz1gnaa2/v1b_Netplay_Build.zip/file") Dolphin / Netplay
        a.button.is-link(href="https://megaupload.nz/l4ebW9cdn6/v1b_Netplay_Build_zip") Dolphin / Netplay (Mirror)
      a.button.is-success(href="https://drive.google.com/open?id=1fDMkcdDImAmftUSrlHx2_aj3dcXXxtS4H5ZSoC22q1U") Changelog