extends /components/layout

block head
  +head("Download Project+")

block content
  +header("download")
  section.section
    .container.maincard
      h1.title Download v2.11
      p.subtitle Wii Lite only changes compression of music to fit on a 2 GB SD card. 
      p.subtitle The Modder's Pack includes files for custom build creation, such as stage imagery templates and full resolution HD textures.
      .group
        a.button.is-link(href="https://mega.nz/file/HRsRXAgI#NL3uZZqzSlSUI1e6IvO69MR1pfW7GEv2qzQHk6s3rdc") Offline / Wii
        a.button.is-link(href="https://mega.nz/file/aQ9lBCLY#yagGYvl5h0Kuf9CpyrHBTK-sRl8Turo7XrNr-pw2ni4") Wii Lite (For 2 GB Cards)
        a.button.is-link(href="https://mega.nz/file/HZ1VGITI#t397NZr1SnDwbSD7fmyldLD8SepYzbwRhwSfqSCUM10") 2.1 > 2.11 Hotfix Files (Wii Only)
        a.button.is-link(href="https://mega.nz/file/jN9T0CDa#Uvl3CIO5md7mfJP-j25LxcF6ehWIMke2IGZ8SEbQVjE") Modder's Pack
      .group
        a.button.is-link(href="https://mega.nz/file/HVEQUCpa#tgYIxL2PDPiApH4AKHjKf47T4Z73twGBu_x39tvIbrs") Dolphin (Windows)
        a.button.is-link(href="https://mega.nz/file/PZtlnLIL#wyayaaNV-aDkjbwCZpBg2iT9d88sXsovDBKdEp3JF4E") Dolphin (Mac)
        a.button.is-link(href="https://github.com/Birdthulu/FPM-Installer") Dolphin (Linux Installer)
      .group
        a.button.is-link(href="https://www.mediafire.com/file/897zm7vsaez959c/Project+_v2.111_Wii.zip/file") Wii Mirror
        a.button.is-link(href="https://www.mediafire.com/file/mcgoksgv95axqhc/Project+_v2.11_Wii_Lite.zip/file") Wii Lite Mirror
        a.button.is-link(href="http://www.mediafire.com/file/sz3x66gur0gn9rx/Project%252B_v2.111_Netplay_%2528Windows%2529.zip/file") Dolphin (Windows) Mirror
        