@import "./configuration/bulma.scss";
@import "./configuration/fontawesome.scss";

html {
  height: 100%;
  overflow-y: initial;
  overscroll-behavior: auto contain; // is supposed to fix ugly overscroll white backgrounds, but i don't know browsers where i could see this fixed
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background-image: url(../public/images/generated/mosaic-background-pattern.webp);
}

#__next {
  @extend .container;
  width: 100%; // won't try to stay at max size allowed by max-width otherwise
}

main {
  background: hsla(0, 0%, 5%, 90%);
  border-radius: 0.5rem;
  border: 2px solid hsl(0, 0%, 20%);
  padding: 1rem;
  margin-bottom: 1rem;
  flex: 1;
  
  @include touch {
    &:last-child {
      margin-bottom: 0;
      border: none;
    }
  }
}

.button, a {
  &:focus-visible { // accessibility / keyboard navigation
    outline: 0.2em solid currentColor;
    outline-offset: 0.3em;
  }
}

.dropdown-item {
  cursor: pointer;
}

.dropdown.region-filter > .dropdown-trigger > .button {
  width: 12em;
}

.has-new::before {
  color: white;
  content: "New!";
  position: absolute;
  right: -1em;
  top: .5em;
  user-select: none;
  font-size: .8em;
  line-height: .7em;
  padding: .2em;
  transform: rotateZ(30deg);
  border-radius: .5em;
  background: rgb(0, 114, 190);
  filter: drop-shadow(0 0 .3em hsla(0, 0%, 0%, 0.2));
  z-index: 10;

  @include touch {
    right: 1em;
  }
}

.flex-grow-children > * {
  flex: 1;
}

.gap {
  gap: 0.3em;
}

h1.is-1 .loader {
  border-width: 0.1em;
}

.has-text-dark .loader {
  border-left-color:hsl(0, 0%, 20%);
  border-bottom-color:hsl(0, 0%, 20%);
}

@keyframes flip {
  from {
    transform: rotateY(1turn);
  }
  to {
    transform: rotateY(0turn);
  }
}

@include touch {
  .box {
    margin: -1rem;
    border-radius: 0;
    padding: 1rem;
  }
}