extends /components/layout

block head
  +head("Project+ Website")

block content
  +header("home")
  section.section
    .container.maincard
      .columns
        .column
          h1.title What is Project Plus?
          p Project Plus:
          .content
            ul
              li is a community driven patch for Project M
              li strives to invigorate the Project M experience
              li further balances the roster
              li fixes lingering 3.6 bugs
              li adjusts movesets to be more fun play to with and against
              li introduces new gameplay mechanics to Project M
              li includes new features such as those created by the Legacy team for Legacy TE 2.11.
        .column(style="display: flex; flex-direction: row-reverse")
          img.magic(src="/img/Falco.png" style="height: 400px")
          style.
            .magic {
              opacity: 0.7;
              transition: all 0.3s ease;
            }

            .magic:hover {
              opacity: 1.0;
            }