extends /components/layout

block head
  +head("Project+ Website")

block content
  +header("home")
  section.section
    .container
      h1.title.has-text-white What is Project Plus?
      p.has-text-white Project Plus...
      .content
        ul.has-text-light
          li ...is a community driven patch for Project M
          li strives to enliven the Project M experience
          li further balances the roster
          li fixes lingering 3.6 bugs
          li adjusts movesets to be more fun play with and against
          li introduces mechanics new to the Project M gameplay
          li includes new features such as those created by the Legacy team for Legacy TE 2.11.