@import "~bulma/sass/utilities/_all.sass";

.content {
  display: grid;
  grid-template-columns: 1fr max-content;
  grid-template-rows: min-content 1fr;
  gap: 2em 2em;
  grid-template-areas: 'news news' 'text picture' 'links links' 'youtube youtube';
  align-items: center;
}

@include mobile {
  .content {
    grid-template-columns: 1fr !important;
    grid-template-areas: 'news' 'text' 'youtube' 'links' 'picture' !important;
  }
}

.links_container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;

  @include mobile {
    flex-direction: column;
  }
}

.falco_wrapper {
  display: flex;
  justify-content: center;
  grid-area: picture;
}

.falco {
  opacity: 0.7;
  transition: opacity 0.3s ease;

  &:hover {
    opacity: 1;
  }
}

.list > * {
  font-size: 20px;
}

.news {
  grid-area: news;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;

  @include touch {
    width: 100%;
  }

  > * {
    flex: 1;
  }
}