// Function says: This is an SCSS file, which is like SASS, but has "{}" and ";" so it's more like advanced CSS
// This style file is the global stylesheet and gets converted to CSS by Next.js.
// It should only contain styles that are global for the entire site and can't be added to components directly (using <style jsx></style>)

html {
  height: 100%;
  overflow-y: initial;
  overscroll-behavior: auto contain; // is supposed to fix ugly overscroll white backgrounds, but i don't know browsers where i could see this fixed
}

body, .subtitle {
  color: hsla(0,0%,100%,0.9);
}

#__next {
  > .container:not(header) {
    background: hsla(0,0%,20%,50%);
    border-radius: 0.3rem;
    border: 3px solid hsl(0,0%,20%);
    padding: 1rem;
    margin-bottom: 1rem;
    
    @media screen and (max-width: 1023px) {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

// make the links a bit lighter to be more easily readable
a, .link {
  color: #75aaff;
  
  &:hover {
    color: #407cdd;
  }
}

code {
  background: hsl(0,0%,15%);
  color: hsl(0,0%,90%);
  border-radius: 0.3rem;
}

.youtube-container {
  margin-top: 1rem;

  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
