html {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: initial;
  overscroll-behavior: auto contain; // is supposed to fix ugly overscroll white backgrounds, but i don't browsers where i could see this fixed
}

body {
  flex: 1;
  background: url(/images/triangle-mosaic.jpg);
  background-size: 150px 150px;
}

body, .subtitle {
  color: hsla(0,0%,100%,0.9);
}

h1, h2, h3, h4, h5, h6,
.title {
  color: white;
}

a, .link {
  color: #75aaff;
  
  &:hover {
    color: #407cdd;
  }
}

code {
  background: hsl(0,0%,15%);
  color: hsl(0,0%,90%);
  border-radius: 0.3rem;
}

#navigation {
  background: linear-gradient(to bottom, #35dcc5, #34d171),
              url(/images/background.jfif);
  background-blend-mode: color;
  border-radius: 0.3rem;
  overflow: hidden; // potentially problematic
}

.navbar * {
  transition: all 0.1s ease;
}

.container > .navbar {
  & .navbar-menu, & .navbar-brand {
    margin-left: 0;
    margin-right: 0;
  }
}

.navbar-item.active,
.navbar.is-dark .navbar-brand>a.navbar-item:hover {
  background: hsla(0,0%,0%,0.4);
}

.navbar.is-dark .navbar-start>a.navbar-item:hover {
  background: rgba(0,0%,0%,0.7);
}

section.section {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.group {
  margin-bottom: 1rem;

  > * {
    margin-right: 1rem;
  }
}

// changes

.buff {
  color: rgb(60, 255, 0);
}

.nerf {
  color: rgb(255, 70, 24);
}

.neutral {
  color: orange;
}

.bold {
  font-weight: bold;
}

@function hsla($h, $s, $l, $a) {
  @return unquote('hsla(#{$h}, #{$s}, #{$l}, #{$a})'); // hsla instead of hsl
}

.maincard {
  background: hsla(0,0%,20%,50%);
  border-radius: 0.3rem;
  border: 3px solid hsl(0,0%,20%);
  padding: 1rem;
}

body main.section {
  padding-top: 0;
}

@media screen and (max-width: 768px) {
  .section {
    padding: 1rem !important;
  }

  header.section {
    padding: 0 !important;

    .navbar {
      border-radius: 0 !important;
    }
  }
}